---
import { baseUrl } from '@/utils/functions';
const logo = baseUrl('/assets/titulo.webp');
const logoStapi = baseUrl('/assets/strapi-logo.svg');
---

<section class='am-hero'>
  <h1>
    <img class="am-logo" src={logo} alt='Logo' />
    <img class="am-logo strapi-logo" src={logoStapi} alt='Logo' />
  </h1>
</section>
<style>
  .am-hero {
    height: 100vh;
    position: relative;
  }

  h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    img {
      width: 60vmax;

      &.strapi-logo {
        width: 6vmax;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 0;
      }
    }
  }
</style>
